
<!-- <div id="body" class="home"> -->
    <nav>
      <ul class="home">
        <li>
          <a href="#slide-1">
            <div class="nav-dot1 navbut"><div class="nav-label">Intro</div></div>

          </a>
        </li>
        <li>
          <a href="#slide-2">
            <div class="nav-dot2 navbut"><div class="nav-label">About</div></div>
          </a>
        </li>
        <li>
          <a href="#slide-3">
            <div class="nav-dot3 navbut"><div class="nav-label">Slide 3</div></div>
          </a>
        </li>
        <li>
          <a href="#slide-4">
            <div class="nav-dot4 navbut"><div class="nav-label">Sign Up</div></div>
          </a>
        </li>
      </ul>
    </nav>
    <div class="slides">
      <div id="slide-1" class="slide">
        <h2 id="logo">AxExpress</h2>
        <div class="slide__bg"></div>
        <div class="slide__content">
          <div class="slide__text__1">
            <h1 id="slide-1-title" class"home">What: We Give</h1>
            <p class="home1">AxExpress is an automated anesthetic protocol generator used for small animal veterinary medicine.

            </p>
          </div>
          <div class="slide__image">
              <img src="https://csil.cs.uchicago.edu/img/double_right_arrow.png"> </img>
          </div>
        </div>
      </div>
      <div id="slide-2" class="slide">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <div class="slide__text__2">
            <h1 id="slide-2-title" class"home">How: We Make it Happen</h1>
            <p class="home">
          PART 1: We take your subjective assessment of your patients and apply our our algorthim incorporating mulitple factors. We use drug protocol standards within numerical limits multiple industry standards such as ACVAA and Plumbs.</br>PART 2: We use over 800 sourced protocols to factor in for any additional variation; a number which will continually grow and improve our algorithm.</br>PART 3: After our analysis, a specialized protocol unique to your patients needs is generated from a combination of over 650 possible drugs!
            </p>
          </div>
          <div class="slide__image">
              <!-- <img src="https://csil.cs.uchicago.edu/img/double_right_arrow.png"> </img> -->
          </div>
        </div>
      </div>
      <div id="slide-3" class="slide">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <div class="slide__text__3">
            <h1 id="slide-3-title" class"home">Why: We do This</h1>
            <p class="home">
              The transition to higher quality anesthetic management requires a commitment to a new way of looking at our patients.It is not a matter of collecting a broader inventory of agents or adding monitoring equipment. First, and foremost, we must begin to look at each patient as a distinct individual. Is the patient young or old, calm or excitable, small or large, healthy or diseased. By thinking of our patients as individuals, we can adjust a given protocol to achieve the best possible balance of safety, comfort, and cost effectiveness.
            </p>
          </div>
          <div class="slide__image">
              <!-- <img src="https://www.jamiesale-cartoonist.com/wp-content/uploads/cartoon-monkey-free.png"> </img> -->
          </div>
        </div>
      </div>
      <div id="slide-4" class="slide">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <div class="slide__text__4">
            <h1 id="slide-4-title" class"home">How: To Get Started</h1>
            <p class="home">
              <div id="sign_in">
              <%= link_to 'Sign In', new_user_session_path, class: "home_signin" %>
            </br>
              <%= link_to 'Sign Up', new_user_registration_path, class: "home_signup" %>
            </div>
            </p>
          </div>
          <div class="slide__image">
              <!-- <img src="https://www.jamiesale-cartoonist.com/wp-content/uploads/cartoon-monkey-free.png"> </img> -->
          </div>
        </div>
      </div>
    </div>
<!-- </div> -->
