
<!-- <div id="body" class="home"> -->
    <nav>
      <ul class="home">
        <li>
          <a href="#slide-1">
            <div class="nav-dot1 navbut"><div class="nav-label">Slide 1</div></div>

          </a>
        </li>
        <li>
          <a href="#slide-2">
            <div class="nav-dot2 navbut"><div class="nav-label">Slide 2</div></div>
          </a>
        </li>
        <li>
          <a href="#slide-3">
            <div class="nav-dot3 navbut"><div class="nav-label">Slide 3</div></div>
          </a>
        </li>
        <li>
          <a href="#slide-4">
            <div class="nav-dot4 navbut"><div class="nav-label">Slide 4</div></div>
          </a>
        </li>
      </ul>
    </nav>
    <div class="slides">
      <div id="slide-1" class="slide">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <div class="slide__text__1">
            <h1 id="slide-1-title" class"home">Patient Personalized Anesthesia</h1>
            <p class="home">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="slide__image">
              <img src="https://csil.cs.uchicago.edu/img/double_right_arrow.png"> </img>
          </div>
        </div>
      </div>
      <div id="slide-2" class="slide">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <div class="slide__text__2">
            <h1 id="slide-2-title" class"home">A.C.V.A.A Standards</h1>
            <p class="home">
          The American College of Veterinary Anesthesia and Analgesia (ACVAA) is an American Veterinary Medical Association recognized, not-for-profit veterinary medical organization founded in 1975 to serve society by: defining and promoting the highest standards of clinical practice of veterinary anesthesia and analgesia, defining criteria for designating veterinarians with advanced training as specialists in the clinical practice of veterinary anesthesiology, issuing certificates to those meeting these criteria, maintaining a list of such veterinarians, and advancing scientific research and education in veterinary anesthesiology and analgesia.
            </p>
          </div>
          <div class="slide__image">
              <img src="https://csil.cs.uchicago.edu/img/double_right_arrow.png"> </img>
          </div>
        </div>
      </div>
      <div id="slide-3" class="slide">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <div class="slide__text__3">
            <h1 id="slide-3-title" class"home">Quality and Efficient care for your Patients</h1>
            <p class="home">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="slide__image">
              <!-- <img src="https://www.jamiesale-cartoonist.com/wp-content/uploads/cartoon-monkey-free.png"> </img> -->
          </div>
        </div>
      </div>
      <div id="slide-4" class="slide">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <div class="slide__text__4">
            <h1 id="slide-4-title" class"home">Oh Hi Last Title</h1>
            <p class="home">
              <div id="sign_in">
              <%= link_to 'Sign In', new_user_session_path %>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
              <%= link_to 'Sign Up', new_user_registration_path %>
            </div>
            </p>
          </div>
          <div class="slide__image">
              <!-- <img src="https://www.jamiesale-cartoonist.com/wp-content/uploads/cartoon-monkey-free.png"> </img> -->
          </div>
        </div>
      </div>
    </div>
<!-- </div> -->
