<h1 class="forms">References / Revisions</h1>
<div class="show_wrapper">
<p class="reference"> Adamcak, A. and B. Otten (2000). Rodent Therapeutics. Vet Clin NA: Exotic Anim Pract 3:1 (Jan): 221-40.</p>

<p class="reference"> Booth, N. H. (1988). Drugs Acting on the Central Nervous System. Veterinary Pharmacology and Therapeutics - 6th Ed. N. H. Booth and L. E. McDonald. Ames, Iowa State University Press : 153-408.</p>

<p class="reference"> Conner, B., et al. (2009). The effects of acepromazine upon adenosine diphosphate- and arachidonic acid- mediated platelet activation in healthy dogs. Proceedings: IVECCS. accessed via Veterinary Information Network; vin.com</p>
<p class="reference"> Conner, B. J., et al. (2012). Effects of acepromazine maleate on platelet function assessed by use of adenosine diphosphate activated- and arachidonic acid-activated modified thromboelastography in healthy dogs. American Journal of Veterinary Research 73 (5): 595-601.</p>

<p class="reference">Deshpande D., Hill K.E., Mealey K.L., Chambers J.P., Gieseg M.A. The Effect of the Canine ABCB1-1Δ Mutation on Sedation after Intravenous Administration of Acepromazine. JVIM. 2016; 30(2):636-41. </p>

<p class="reference">Driessen, B., et al. (2011). Contemporary use of acepromazine in the anaesthetic management of male horses and ponies: A retrospective study and opinion poll. Equine Veterinary Journal 43 (1): 88-98.</p>

<p class="reference">Finkler, M. (1999). Anesthesia in Ferrets . Proceedings: Central Veterinary Conference, Kansas City. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Ghaffari, M. S., et al. (2010). Effect of acepromazine or xylazine on tear production as measured by Schirmer tear test in normal cats. Vet. Ophthalmol. 13 (1): 1-3.</p>

<p class="reference">Hall, L. W. and K. W. Clarke (1983). Veterinary Anesthesia 8th Ed. , Bailliere Tindall. London.</p>

<p class="reference">Hashem, A., et al. (1992). Pharmacokinetics and Bioavailability of Acepromazine in Plasma of the Dog. Deutsche Tierarztliche Wochenschrift 99 (10): 396-8.</p>

<p class="reference">Howard, J. L., Ed. (1986). Current Veterinary Therapy 2, Food Animal Practice . Philadelphia, W.B. Saunders.</p>

<p class="reference">Ionut, V., et al. (2004). Investigation of the effect of acepromazine on intravenous glucose tolerance tests in dogs. American Journal of Veterinary Research 65 (8): 1124-7.</p>

<p class="reference">Ivey, E. and J. Morrisey (2000). Therapeutics for Rabbits. Vet Clin NA: Exotic Anim Pract 3:1 (Jan): 183-216.</p>

<p class="reference">Lumb, W. V. and E. W. Jones (1984). Veterinary Anesthesia, 2nd Ed. , Lea and Febiger. Philadelphia.</p>

<p class="reference">McConnell, J., et al. (2007). Administration of acepromazine maleate to 31 dogs with a history of seizures. J. Vet. Emerg. Crit. Care 17 (3): 262-7.</p>

<p class="reference">Taylor, B. J., et al. (2009). Beyond-Use Dating of Extemporaneously Compounded Ketamine, Acepromazine, and Xylazine: Safety, Stability, and Efficacy over Time. Journal of the American Association for Laboratory Animal Science 48 (6): 718-26.</p>

<p class="reference">Tobias, K. M. and  K. Marioni-Henry (2006). A retrospective study on the use of acepromazine maleate in dogs with seizures. J. Am. Anim. Hosp. Assoc. 42 (4): 283-9.</p>

<p class="reference">Williams, B. (2000). Therapeutics in Ferrets. Vet Clin NA: Exotic Anim Pract 3:1 (Jan): 131-53.</p>

<p class="reference">Zapata, M. and E. Hofmeister (2013). Refinement of the dose of doxapram to counteract the sedative effects of acepromazine in dogs. J Small Anim Pract 54 (8): 405-8.</p>

<p class="reference">Clubb, S. L. (1986). Therapeutics: Individual and Flock Treatment Regimens. Clinical Avian Medicine and Surgery . G. J. Harrison and L. R. Harrison. Philadelphia, W.B. Saunders : 327-55.</p>

<p class="reference">Congdon, J., et al. (2009). Cardiovascular and sedation paramerters during dexmedetomidine and atropine administration . Prtoceedings: IVECCS. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Fletcher, D. J., et al. (2012). RECOVER evidence and knowledge gap analysis on veterinary CPR. Part 7: Clinical guidelines. J. Vet. Emerg. Crit. Care 22 .</p>

<p class="reference">Gauvin, J. (1993). Drug therapy in reptiles. Seminars in Avian & Exotic Med 2 (1): 48-59.</p>

<p class="reference">Haskell, S., et al. (2005). Farad Digest: Antidotes in Food Animal Practice. JAVMA 226 (6): 884-7.</p>

<p class="reference">Ivey, E. & J. Morrisey (2000). Therapeutics for Rabbits. Vet Clin NA: Exotic Anim Pract 3:1 (Jan): 183-216.</p>

<p class="reference">LaBonde, J. (2006). Avian Toxicology . Proceedings: AAV. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Mogg, T. (1999). Equine Cardiac Disease: Clinical pharmacology and therapeutics. The Veterinary Clinics of North America: Equine Practice 15:3 (December).</p>

<p class="reference">O'Malley, B. (2011). Avian Emergencies . World Small Animal Veterinary Association World Congress Proceedings. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Puschner, B. & C. Wegenast (2012). Mushroom Poisoning Cases in Dogs and Cats: Diagnosis and Treatment of Hepatotoxic, Neurotoxic, Gastroenterotoxic, Nephrotoxic, and Muscarinic Mushrooms. Vet Clin Small Anim 42 : 375-87.</p>

<p class="reference">Rishniw, M. & M. Kittleson (2007). "Atropine Response Test."</p>

<p class="reference">Rush, B. (2006). Use of inhalation therapy in management of recurrent airway obstruction . Proceedings: ACVIM. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Thurmon, J. C. & G. J. Benson (1986). Anesthesia in ruminants and swine. Current Veterinary Therapy 2: Food Animal Practice . J. L. Howard. Philadelphia, WB Saunders : 51-71.</p>

<p class="reference">Trass, A. (2009). Pediatric Emergencies . Proceedings: IVECCS. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Williams, B. (2000). Therapeutics in Ferrets. Vet Clin NA: Exotic Anim Pract 3:1 (Jan): 131-53.</p>

<p class="reference">Wismer, T. & C. Means (2012). Toxicology of Newer Insecticides in Small Animals. Veterinary Clinics of North America-Small Animal Practice 42 (2): 335-+.</p>

<p class="reference">Arguedas, M. G., et al. (2008). Pharmacokinetics of Butorphanol and Evaluation of Physiologic and Behavioral Effects after Intravenous and Intramuscular Administration to Neonatal Foals. Journal of Veterinary Internal Medicine 22 (6): 1417-26.</p>

<p class="reference">Biermann, K., et al. (2012). Sedative, cardiovascular, haematologic and biochemical effects of four different drug combinations administered intramuscularly in cats. Veterinary Anaesthesia and Analgesia 39 (2): 137-50.</p>

<p class="reference">Finkler, M. (1999). Anesthesia in Ferrets. Proceedings: Central Veterinary Conference, Kansas City. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Hawkins, M. G. & J. Paul-Murphy (2011). Avian Analgesia. Vet Clin Exot Anim 14 : 61-80.</p>

<p class="reference">Hellyer, P. (2006). Pain assessment and multimodal analgesic therapy in dogs and cats. Proceedings: ABVP. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Klausner, J. S. & F. W. Bell (1988). Personal Communication.</p>

<p class="reference">Knych, H. K., et al. (2013). Pharmacokinetics and pharmacodynamics of butorphanol following intravenous administration to the horse. J. Vet. Pharmacol. Ther. 36 (1): 21-30.</p>

<p class="reference">Ko, J. C., et al. (2011). Evaluation of dexmedetomidine and ketamine in combination with various opioids as injectable anesthetic combinations for castration in cats. Journal of the American Veterinary Medical Association 239 (11): 1453-62.</p>

<p class="reference">Lichtenberger, M. (2006a). Anesthesia Protocols and Pain Management for Exotic Animal Patients. Proceedings: Western Vet Conf. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Lichtenberger, M. (2006b). Pain management protocols for the ICU patient. Proceedings: Western Vet Conf. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Mathews, N. (1999). Anesthesia in large animals— Injectable (field) anesthesia: How to make it better. Proceedings: Central Veterinary Conference, Kansas City. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">McGowan, K. T., et al. (2013). Effect of butorphanol on thermal nociceptive threshold in healthy pony foals. Equine Veterinary Journal 45 (4): 503-6.</p>

<p class="reference">Miesner, M. (2009). Field anesthesia techniques in camelids. Proceedings: WVC. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Miller, A. L. & C. Richardson (2011). Rodent Analgesia. Vet Clin Exot Anim 14 : 81-92.</p>

<p class="reference">Moffat, K. (2008). Addressing canine and feline aggression in the veterinary clinic. Vet Clin NA: Sm Anim Pract 38 : 983-1003.</p>

<p class="reference">Nagore, L., et al. (2013). Sedative effects of dexmedetomidine, dexmedetomidine/pethidine and dexmedetomidine/butorphanol in cats. J. Vet. Pharmacol. Ther. 36 (3): 222-8.</p>

<p class="reference">Perkowski, S. (2006). Practicing pain management in the acute setting. Proceedings: ACVIM. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Polson, S., et al. (2012). Analgesia after feline ovariohysterectomy under midazolam-medetomidine-ketamine anaesthesia with buprenorphine or butorphanol, and carprofen or meloxicam: a prospective, randomised clinical trial. Journal of Feline Medicine and Surgery 14 (8): 553-9.</p>

<p class="reference">Quandt, J. (2009). Sedation and analgesia for the critically ill patient: Comprehensive review. Proceedings; ACVIM. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Ramoo, S., et al. (2013). Sedation of hyperthyroid cats with subcutaneous administration of a combination of alfaxalone and butorphanol. Australian Veterinary Journal 91 (4): 131-6.</p>

<p class="reference">Sellon, D. C., et al. (2009). Pharmacokinetics of butorphanol in horses after intramuscular injection. J. Vet. Pharmacol. Ther. 32 (1): 62-5.</p>

<p class="reference">Sellon, D. C., et al. (2004). Effects of continuous rate intravenous infusion of butorphanol on physiologic and outcome variables in horses after celiotomy. Journal of Veterinary Internal Medicine 18 (4): 555-63.</p>

<p class="reference">Sladky, K. K., et al. (2007). Analgesic efficacy and respiratory effects of butorphanol and morphine in turtles. Journal of the American Veterinary Medical Association 230 (9): 1356-62.</p>

<p class="reference">Smith, G. (2013). Extralabel Use of Anesthetic and Analgesic Compounds in Cattle. Veterinary Clinics of North America-Food Animal Practice 29 (1): 29-+.</p>

<p class="reference">Valverde, A. (2008). Epidural analgesia and anesthesia in dogs and cats. Vet Clin NA: Sm Anim Pract 38 : 1205-30.</p>

<p class="reference">Vettorato, E. & S. Bacco (2011). A comparison of the sedative and analgesic properties of pethidine (meperidine) and butorphanol in dogs. Journal of Small Animal Practice 52 (8): 426-32.</p>

<p class="reference">Williams, B. (2000). Therapeutics in Ferrets. Vet Clin NA: Exotic Anim Pract 3:1 (Jan): 131-53.</p>

<p class="reference">Wolff, P. (2009). Camelid Medicine. Proceedings: AAZV. accessed via Veterinary Information Network; vin.com</p>

</div>
