<h2>References / Revisions</h2>

<p class="reference"> Adamcak, A. and B. Otten (2000). Rodent Therapeutics. Vet Clin NA: Exotic Anim Pract 3:1 (Jan): 221-40.</p>

<p class="reference"> Booth, N. H. (1988). Drugs Acting on the Central Nervous System. Veterinary Pharmacology and Therapeutics - 6th Ed. N. H. Booth and L. E. McDonald. Ames, Iowa State University Press : 153-408.</p>

<p class="reference"> Conner, B., et al. (2009). The effects of acepromazine upon adenosine diphosphate- and arachidonic acid- mediated platelet activation in healthy dogs. Proceedings: IVECCS. accessed via Veterinary Information Network; vin.com</p>
<p class="reference"> Conner, B. J., et al. (2012). Effects of acepromazine maleate on platelet function assessed by use of adenosine diphosphate activated- and arachidonic acid-activated modified thromboelastography in healthy dogs. American Journal of Veterinary Research 73 (5): 595-601.</p>

<p class="reference">Deshpande D., Hill K.E., Mealey K.L., Chambers J.P., Gieseg M.A. The Effect of the Canine ABCB1-1Δ Mutation on Sedation after Intravenous Administration of Acepromazine. JVIM. 2016; 30(2):636-41. </p>

<p class="reference">Driessen, B., et al. (2011). Contemporary use of acepromazine in the anaesthetic management of male horses and ponies: A retrospective study and opinion poll. Equine Veterinary Journal 43 (1): 88-98.</p>

<p class="reference">Finkler, M. (1999). Anesthesia in Ferrets . Proceedings: Central Veterinary Conference, Kansas City. accessed via Veterinary Information Network; vin.com</p>

<p class="reference">Ghaffari, M. S., et al. (2010). Effect of acepromazine or xylazine on tear production as measured by Schirmer tear test in normal cats. Vet. Ophthalmol. 13 (1): 1-3.</p>

<p class="reference">Hall, L. W. and K. W. Clarke (1983). Veterinary Anesthesia 8th Ed. , Bailliere Tindall. London.</p>

<p class="reference">Hashem, A., et al. (1992). Pharmacokinetics and Bioavailability of Acepromazine in Plasma of the Dog. Deutsche Tierarztliche Wochenschrift 99 (10): 396-8.</p>

<p class="reference">Howard, J. L., Ed. (1986). Current Veterinary Therapy 2, Food Animal Practice . Philadelphia, W.B. Saunders.</p>

<p class="reference">Ionut, V., et al. (2004). Investigation of the effect of acepromazine on intravenous glucose tolerance tests in dogs. American Journal of Veterinary Research 65 (8): 1124-7.</p>

<p class="reference">Ivey, E. and J. Morrisey (2000). Therapeutics for Rabbits. Vet Clin NA: Exotic Anim Pract 3:1 (Jan): 183-216.</p>

<p class="reference">Lumb, W. V. and E. W. Jones (1984). Veterinary Anesthesia, 2nd Ed. , Lea and Febiger. Philadelphia.</p>

<p class="reference">McConnell, J., et al. (2007). Administration of acepromazine maleate to 31 dogs with a history of seizures. J. Vet. Emerg. Crit. Care 17 (3): 262-7.</p>

<p class="reference">Taylor, B. J., et al. (2009). Beyond-Use Dating of Extemporaneously Compounded Ketamine, Acepromazine, and Xylazine: Safety, Stability, and Efficacy over Time. Journal of the American Association for Laboratory Animal Science 48 (6): 718-26.</p>

<p class="reference">Tobias, K. M. and  K. Marioni-Henry (2006). A retrospective study on the use of acepromazine maleate in dogs with seizures. J. Am. Anim. Hosp. Assoc. 42 (4): 283-9.</p>

<p class="reference">Williams, B. (2000). Therapeutics in Ferrets. Vet Clin NA: Exotic Anim Pract 3:1 (Jan): 131-53.</p>

<p class="reference">Zapata, M. and E. Hofmeister (2013). Refinement of the dose of doxapram to counteract the sedative effects of acepromazine in dogs. J Small Anim Pract 54 (8): 405-8.</p>
