// Place all the styles related to the drugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    .show_wrapper {
        p{
          text-align: center;
          padding: 5px;
      }
    }

    .adverse {
      display: block;
      margin:auto;
      width: 50%;
    }


    strong {
      font-family: "Spectral";
      font-size: 20px;
    }

    ul{
      text-align: center;
    }

h1#drugs{
  text-align: center;
}

.drugs_index_wrapper{
  margin: 20px;

  .drug_search{
    margin: auto;
    width:22%;
  }
}
