// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.patients_show_wrapper{
  background-color: #006c84;
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  vertical-align: top;
  color: #e2e8e4;
}
