<footer class="footer-distributed">

  <div class="footer-right">

    <a href="https://www.facebook.com/">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com/">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://github.com">
      <i class="fa fa-github"></i>
    </a>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a href="/dashboard">Home</a>
      ·
      <a href="/about">About</a>
      ·
      <a href="/references">References</a>
      .
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    </p>

    <p>AxExpress &copy; 2017</p>
  </div>

</footer>
